.my-jumbotron-background  {

background-image: url(http://www.slate.com/content/dam/slate/blogs/wild_things/2014/07/10/140710_WILD_Hamster.jpg.CROP.promo-mediumlarge.jpg);
background-size: cover;
background-position: centre; 





}